<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>

    {{> header}}

    <p><b>{{screamIt welcomeMessage}}</b></p>

    {{> footer}}

  </body>
</html>
